body {
    font-family: 'Arial', sans-serif;
    direction: rtl;
    background-color: #f0f0f0;
    padding: 20px;
}

.student-card, table {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.student-card h1, .student-card h2, table th {
    color: #333;
}

.student-info p, .qualification-info p, .general-stats p {
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #f8f8f8;
}
